.weather {
  width: 400px;
  border-radius: 16px;
  box-shadow: 2px 2px 20px 0px rgb(53 53 53 / 6%);
  color: #353535;
  background-color: #f7f7f76b;
  padding: 1.5em;
}
.top,
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.weather-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  margin-top: 0px;
  margin-left: 4px;
  text-transform: uppercase;
}

.weather-icon {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  min-width: 50%;
  width: auto;
  letter-spacing: -2px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.farenheit {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
}

.details {
  width: 100%;
  padding-left: 20px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-label {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
}

.parameter-value {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}

.condition {
  color: #226f14;
  font-weight: 900;
}

.parameter-label.top {
  border-bottom: 1px solid #fff;
}

.tool-tip {
  color: #282828;
  font-weight: 200;
  font-size: 0.75em;
  padding-top: 6px;
}

@media (max-width: 768px) {
  .top {
    flex-direction: column;
  }
  .city {
    text-align: center;
  }

  .weather {
    width: 300px;
  }

  .weather-description {
    text-align: center;
  }

  .tool-tip {
    text-align: center;
  }
}

@media (max-width: 375px) {
  .weather {
    width: 250px;
    margin-top: 20px;
  }

  .weather-description {
    padding-top: 4px;
  }
  .temperature {
    font-weight: 600;
    font-size: 50px;
    min-width: 40%;
  }
}
