body {
  margin: 0;
  font-family: system-ui !important;
  color: #282828;
  background-image: url(./clouds.jpg);
  background-size: cover;

  background-color: rgb(232, 232, 232);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css-b62m3t-container {
  font-family: system-ui !important;
}

.css-13cymwt-control,
.css-t3ipsp-control {
  border-radius: 100px !important;
  margin-top: -20px;
}

@media (max-width: 768px) {
  body {
    background-image: url(./clouds-tablet.jpg);
  }
}

@media (max-width: 500px) {
  body {
    background-image: url(./clouds-mobile.jpg);
  }
}

@media (max-width: 375px) {
  .css-13cymwt-control,
  .css-t3ipsp-control {
    margin-top: 0px;
  }
}
